.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(0deg, #1d2d50, #eeeeee);
}

body {
  padding: 0;
  margin: 0;
}
